body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #27374D;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#concert-image {
    max-width: 25%;
    margin-bottom: 20px;
    margin-left: -340px;
    border: 2px solid #007bff;
    border-radius: 5px;
    position: absolute;
    top: 70px;
}

#concert-name {
    font-size: 24px;
    position: absolute;
    top: 60px;
    right: 400px;
    margin: 20px;
}

#concert-description {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    color: #333;
    height: 180px;
    overflow: auto;
}


h1 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

#ticket-price-details {
    position: absolute;
    top: 135px;
    right: 420px;
    margin: 25px;
}

#ticket-amount-details {
    position: absolute;
    top: 175px;
    right: 435px;
    margin: 25px;
}

#buy-ticket-button {
    position: absolute;
    background-color: #27374D;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 16px;
    font-size: 16px;
    cursor: pointer;
    right: 435px;
    top: 250px;
}

#buy-ticket-button:hover {
    background-color: #000000;
}


#add-button {
    position: absolute;
    background-color:#007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 16px;
    font-size: 16px;
    cursor: pointer;
    right: 530px;
    top: 250px;
}

#add-button:hover {
    background-color: #0056b3;
}

.back-arrow {
    font-size: 30px;
    color: #1164be;
    cursor: pointer;
    position: absolute;
    top: 60px;
    left: 200px;
}
