body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #27374D;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

#concert-image {
    max-width: 40%;
    margin-bottom: 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    position: absolute;
    top: 45px;
    left: 8%;
}

#concert-name {
    font-size: 24px;
    position: absolute;
    top: 30px;
    left: 55%;
    margin: 20px;
}

#concert-description {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    color: #333;
    height: 180px;
    overflow: auto;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    margin: 10px 0;
}

#ticket-price-details {
    position: absolute;
    top: 130px;
    left: 55%;
    margin: 25px;
}

#ticket-amount-details {
    position: absolute;
    top: 175px;
    left: 55%;
    margin: 25px;
}

#buy-ticket-button {
    position: absolute;
    background-color: #27374D;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 16px;
    font-size: 16px;
    cursor: pointer;
    left: 70%;
    top: 240px;
}

#buy-ticket-button:hover {
    background-color: #000000;
}

.back-arrow {
    font-size: 30px;
    color: #1164be;
    cursor: pointer;
    position: absolute;
    top: 60px;
    left: 200px;
}

#concert-date {
    font-size: 14px;
    margin-top: 15px;
    text-align: left;
    color: #000000;
}

#date-placeholder {
    color: rgb(155, 155, 155);
}
